beautifulsoup4==4.7.1
cachetools==3.1.0
certifi==2018.11.29
chardet==3.0.4
cssselect==1.0.3
dj-database-url==0.5.0
Django==2.1.5
django-autocomplete-light==3.3.2
django-extensions==2.1.5
django-heroku==0.3.1
django-next-prev==1.0.1
django-tables2==2.0.4
django-tagulous==0.13.2
feedfinder2==0.0.4
feedparser==5.2.1
google-api-core==1.7.0
google-auth==1.6.2
google-cloud-core==0.29.1
google-cloud-storage==1.14.0
google-resumable-media==0.3.2
googleapis-common-protos==1.5.6
gunicorn==19.9.0
idna==2.8
jieba3k==0.35.1
lxml==4.3.0
mysqlclient==1.4.1
newspaper3k==0.2.8
nltk==3.4
numpy==1.16.1
pandas==0.24.1
Pillow==5.4.1
protobuf==3.6.1
psycopg2==2.7.7
pyasn1==0.4.5
pyasn1-modules==0.2.4
PyMySQL==0.9.3
python-dateutil==2.7.5
pytz==2018.9
PyYAML==3.13
requests==2.21.0
requests-file==1.4.3
rsa==4.0
singledispatch==3.4.0.3
six==1.12.0
soupsieve==1.7.3
tinysegmenter==0.3
tldextract==2.2.0
urllib3==1.24.1
whitenoise==4.1.2
xlrd==1.2.0
