{% extends "index.html" %}

{% block single_article %}


    <div class="container-fluid">

        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-sm">
                <div class="container navigation_div animated flash">
                    <a href="{{ prev }}">
                        <i class="material-icons">navigate_before</i>
                    </a>
                </div>
            </div>
            <div class="col-sm-8">
                <h1 class="page_heading">Article Details</h1>
                <table class="table table-bordered">
                    <tr>
                        <td><strong>Article ID</strong></td>
                        <td>
                            <a href="{% url 'show_article_url' article_id %}">{{ article_id }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Event Date: </strong></td>
                        <td><p>{{ event_date }}</p></td>
                    </tr>
                    <tr>
                        <td><strong>Category: </strong></td>
                        <td><p>{{ category }}</p></td>
                    </tr>
                    <tr>
                        <td><strong>Related Press for Freedom Report: </strong></td>
                        <td><a href="{{ related_pff_report.file_url }}">{{ related_pff_report.name }}</a></td>
                    </tr>
                    <tr>
                        <td><strong>Text: </strong></td>
                        <td><p>{{ text }}</p></td>
                    </tr>
                </table>
            </div>
            <div class="col-sm">
                <div class="container navigation_div animated flash">
                    <a href="{{ next }}">
                        <i class="material-icons">navigate_next</i>
                    </a>
                </div>
            </div>


        </div>
        <div class="row entered_tags_div">
            <strong>Tags</strong>

            <div class="entered_tags_list">
                <ul>
                    {% for tagrecord in tagrecords %}
                        <li>
                            <span class="badge badge-secondary">
                                <p>{{ tagrecord.tag_id.turkish }}</p>
                                <span class="badge badge-primary number_of_occurence">{{ tagrecord.number_of_occurence }}</span>
                                <form method="POST" action="{% url 'delete_TagRecord' pk=tagrecord.pk %}">
                                    {% csrf_token %}
                                    <input class="input_icon" type="submit" value="">
                                </form>
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row tagging_form_div">
            {% comment %}{% if is_processed is False %}{% endcomment %}
            <form method="POST" class="tagging_form">
                {% csrf_token %}
                <table>
                    <tbody>
                        <tr>
                            <th>Category</th>
                            <td>{{ tagging_form.categories }}</td>
                        </tr>
                        <tr>
                            <th>Tags</th>
                            <td>{{ tagging_form.tags }}</td>
                        </tr>
                        <tr>
                            <th>How many times this record should be counted?</th>
                            <td>{{ tagging_form.number_of_occurence }}</td>
                        </tr>
                        <tr>
                            <td colspan="2"><button type="submit" class="save btn btn-success" name="submit_tag_button">Save</button></td>

                        </tr>
                    </tbody>
                </table>
            </form>
            {{ tagging_form.media }}
            {% comment %} {% endif %} {% endcomment %}
            {% if is_processed is True %}
                <a href="{{ edit_form_link }}" class="btn btn-alert">Edit Tags</a>
            {% endif %}

        </div>

        <div class="container">



          <div class="row">
            <div class="comments_div card col-lg-8 mx-auto">
              <div class="enter_comment_div card-heading">
                  <h3>Comments</h3>
              </div>

              <div class="show_comments_div card-body col-lg-12">
                <div class="enter_comment">
                    <form class="comment_form" action="{% url 'create_comment_on_article' article_id %}" method="POST">
                      {% csrf_token %}
                      {{ comment_form.non_field_errors }}
                      {% for hidden_field in comment_form.hidden_fields %}
                        {{ hidden_field.errors }}
                        {{ hidden_field }}
                      {% endfor %}
                      {{ comment_form.comment_text.errors }}
                      <div class="input-group mb-4">
                        <input type="text"
                               class="form-control"
                               placeholder="{{ comment_form.comment_text.label }}"
                               name="{{ comment_form.comment_text.name }}"
                               id="{{ comment_form.comment_text.name.id_for_label }}"
                               {% if comment_form.comment_text.name.value != None %}value="{{ comment_form.comment_text.name.value|stringformat:'s' }}"{% endif %}
                               {% if form.name.field.required %}required{% endif %}>
                        <div class="input-group-append">
                          <button name="comment_button" class="btn btn-outline-primary" type="submit">Add Comment</button>
                        </div>
                      </div>
                    </form>
                </div>


                  <ul class="list-group">
                      {% for comment in related_comments %}
                          <li class="list-group-item">
                            <p class="d-inline">
                              <b>{{ comment.related_user }} says:</b>
                              {{ comment.comment_text }}</p>
                            <small class="float-right">{{ comment.created_at }}</small>
                          </li>
                      {% empty %}
                          <p>No comment entered for this article.</p>
                      {% endfor %}
                  </ul>
              </div>
            </div>
          </div>

        </div>



    </div>



    {#    {%load plotly_dash%}#}
    {##}
    {#    {%plotly_app name="Statistics"%}#}
{% endblock %}
