:root {
    --main-border-color: lightgrey;
}

body {
    font-family: roboto;
}

.next-prev-area {
    height: 100%;
    background-color: var(--main-border-color);
}

.next-prev-area:hover {
    background-color: var(--main-border-color);
}

table {
    margin: 2rem auto;
    border: var(--main-border-color) 1px solid;
}

.tags_table table {
    margin-left: auto;
    margin-right: auto;
}
thead {
    border: var(--main-border-color) 1px solid;
}

thead th {
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
}
td {
    padding: 1rem;
}


.pagination {
    padding-right: 4rem;
    padding-top: 2rem;
    float: right;
}

.logo_text {
    font-family: roboto slab;
}

.navigation_div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation_div i {
    font-size: 5rem;
    color: lightgrey;
}
.navigation_div i:hover {
    color: grey;
}

.tagging_form button {
    width: 100%;
}

.tagging_form div {
    margin: auto
}

.tagsform_category {
    height: 38px!important;
}

.tagsform_category .select2-selection__rendered {
    line-height: 38px!important;
}

.tagsform_category .select2-selection__arrow {
    height: 38px!important;
}

.tagging_form .col-lg-10 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.page_heading {
    padding: 20px;
}

.tagging_form .select2-container {
    width: 100%!important;
}

nav i {
    padding: 10px;
    font-size: 2em!important;
    color: white;
}

nav .btn {
    vertical-align: text-bottom;
}

.navbar-toggler-icon {
    color: white;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='3' stroke-linecap='square' stroke-miterlimit='100' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Modifications in tags badges in order to enable remove icon instead of button */
/* Rationale here is you can only delete a record with a confirmation page. To skip that, you just put */
/* only an input element into the form, but it acts as a button */
.input_icon {
    background-image:url(../images/icons/remove_icon.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
}

.entered_tags_list ul {
    list-style: none;
}

.entered_tags_list ul li {
    display: inline-block;
}

.entered_tags_list .badge {
    margin: 5px;
    padding: 5px;
    line-height: 0;
}

.entered_tags_list form {
    display: inline-block;
    vertical-align: middle;
}

.entered_tags_list p {
    display: inline-block;
    font-size: 1rem;
    vertical-align: sub;
}